<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="${title} + ' ' + ${version}"/>
		
		<link rel="stylesheet" th:href="@{/css/styles.css}"/>
	</head>
	<body>
		<header id="site-header">
			<h1 th:text="${title} + ' ' + ${version}"/>
		</header>
		<main id="site-main">
			<form>
				<h2>Notification system:</h2>
				<div id="system-div">
					<label>System: </label>
					<select id="system">
						<option id="pulsar">Pulsar</option>
					</select>
				</div>
				<div id="url-div">
					<label>URL: </label>
					<input type="url" id="url">
				</div>
				<button id="start">Start</button>
			</form>
		</main>
	</body>
</html>